<div class="jumbotron">
	<h1>APP Compañias&Asegurados</h1>
	<p>Este ejemplo esta desarrollado con las siguientes tecnologias: </p>
	<p>BackEnd: VisualStudio, Aplicacion Web, C# multiples capas, WebApi2, EntityFramework, SqlServer.
		<p>FrontEnd: Visual Code, HTML, CSS, Bootstrap, Angular, TypeScript.</p>
		<a class="btn btn-lg btn-primary" routerLink="/asegurados" role="button">Cargar Asegurado</a>
        <a class="btn btn-lg btn-primary" routerLink="/consultas" role="button">Consultas</a>
</div>