<div class='tituloPagina'>
    Consultar asegurados
  </div>
  
  <form>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-md-2">
          <label class="col-form-label">Apellido:</label>
        </div>
        <div class="col-sm-8 col-md-3">
          <input type="text" formControlName="apellido" name="Nombre" class="form-control" placeholder="Apellido" />
        </div>
  
        <p>
  
  
      </div>
  
      <hr>
  
      <!-- Botones -->
      <div class="row justify-content-center botones">
  
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-plus"> </i>
          Consultar
        </button>
      </div>
    </div>
  </form>