<div class='tituloPagina'>
  Consultar asegurados
</div>

<div class="row justify-content-center botones">
  <div class=" d-inline-flex p-2 bd-highlight justify-content-center">

    <button type="button" class="btn btn-primary" (click)="touchButtonApellido()">
      POR APELLIDO <i class="fas fa-search"></i>
    </button>


    <button type="button" class="btn btn-primary" (click)="touchButtonRamo()">
      POR RAMO <i class="fas fa-search"></i>
    </button>

    <button type="button" class="btn btn-primary" (click)="touchButtonFechas()">
      POR FECHA <i class="fas fa-search"></i>
    </button>
  </div>

</div>

<form>
  <div class="container-fluid" *ngIf="mostrarFormConsultaApellido">
    <div class="row">
      <div class="col-sm-4 col-md-2">
        <label class="col-form-label">Apellido:</label>
      </div>
      <div class="col-sm-8 col-md-3">
        <input type="search" name="Apellido" class="form-control" placeholder="Apellido" [(ngModel)]="consulta_apellido"
          (keyup.enter)="consultarAseguradoXApellido()" />
      </div>

      <p>

    </div>

    <hr>

    <!-- Botones -->
    <div class="row justify-content-center botones">

      <button type="button" class="btn btn-primary" (click)="consultarAseguradoXApellido()">
        <i class="fas fa-search"></i>
        Consultar
      </button>
    </div>
  </div>

  <div class="container-fluid" *ngIf="mostrarFormConsultaRamo">
    <div class="row">
      <div class="col-sm-4 col-md-2">
        <label class="col-form-label">Ramo:</label>
      </div>
      <div class="col-sm-8 col-md-3">
        <input type="search" name="Ramo" class="form-control" placeholder="Ramo" [(ngModel)]="consulta_ramo"
          (keyup.enter)="consultarAseguradoXRamo()" />
      </div>

      <p>

    </div>

    <hr>

    <!-- Botones -->
    <div class="row justify-content-center botones">

      <button type="button" class="btn btn-primary" (click)="consultarAseguradoXRamo()">
        <i class="fas fa-search"> </i>
        Consultar
      </button>
    </div>
  </div>

  <div class="container-fluid" *ngIf="mostrarFormConsultaFechas">
    <div class="row">
      <div class="col-sm-4 col-md-2">
        <label class="col-form-label">Fecha Inicio:</label>
      </div>
      <div class="col-sm-8 col-md-3">
        <input type="search" name="Inicio Poliza" class="form-control" placeholder="Inicio Poliza" [(ngModel)]="consulta_inicio_poliza"
          (keyup.enter)="consultarAseguradoXFecha()" />

        <!--<div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="consulta_inicio_poliza"
          (keyup.enter)="consultarAseguradoXFecha()">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>

          </div>
        </div>-->

      </div>


      <div class="col-sm-4 col-md-2">
        <label class="col-form-label">Fecha Fin:</label>
      </div>
      <div class="col-sm-8 col-md-3">
        <input type="search" name="Fin Poliza" class="form-control" placeholder="Fin Poliza" [(ngModel)]="consulta_fin_poliza"
          (keyup.enter)="consultarAseguradoXFecha()" />
        
        <!--<div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" ngbDatepicker #p="ngbDatepicker" [(ngModel)]="consulta_fin_poliza"
          (keyup.enter)="consultarAseguradoXFecha()">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="p.toggle()" type="button"></button>

          </div>

        </div>-->
      </div>


      <p>


    </div>

    <hr>

    <!-- Botones -->
    <div class="row justify-content-center botones">

      <button type="button" class="btn btn-primary" (click)="consultarAseguradoXFecha()">
        <i class="fas fa-search"> </i>
        Consultar
      </button>
    </div>
  </div>


</form>



<div id="divTablaResultados">
  <table class="table table-hover table-sm table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">DNI</th>
        <th class="text-center">Apellido</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Compañia</th>
        <th class="text-center">Ramo</th>
        <th class="text-center">Inicio Póliza</th>
        <th class="text-center">Fin Póliza</th>
        <th class="text-center text-nowrap">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asegurado of listAsegurados ">
        <td>{{ asegurado.dni }}</td>
        <td class="text-right">{{ asegurado.apellido }}</td>
        <td class="text-right">{{ asegurado.nombre }}</td>
        <td class="text-right">{{ asegurado.compania }}</td>
        <td class="text-right">{{ asegurado.ramo }}</td>
        <td class="text-right">{{ asegurado.inicio_poliza }}</td>
        <td class="text-right">{{ asegurado.fin_poliza }}</td>
        <td class="text-center text-nowrap">
          <button class="btn btn-sm btn-outline-primary" title="Consultar">
            <i class="fas fa-eye"></i>
          </button>
          <button class="btn btn-sm btn-outline-primary" title="Modificar">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button class="btn btn-sm btn-outline-primary" title="Eliminar">
            <i (click)="eliminarAsegurado(asegurado.id)" class="fas fa-trash-alt"></i>
          </button>

        </td>

      </tr>
    </tbody>
  </table>

   <!-- Paginador-->
   <div class="paginador">
    <div class="row">
      <div class="col">
        <span class="pyBadge">Registros: {{RegistrosTotal}}</span>
      </div>
      <div class="col text-center">
        <ngb-pagination [(page)]="Pagina" [pageSize]="10" [maxSize]="10"
          [collectionSize]="RegistrosTotal"></ngb-pagination>
      </div>
      
    </div>
  
</div>
</div>