<div class='tituloPagina'>
    Consultar asegurados
  </div>
  
  <form>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-md-2">
          <label class="col-form-label">Apellido:</label>
        </div>
        <div class="col-sm-8 col-md-3">
          <input type="text" formControlName="apellido" name="A" class="form-control" placeholder="Apellido" [(ngModel)]="consulta_apellido" (ngSubmit)="consultarAsegurado(consulta_apellido)"/>
        </div>
  
        <p>
  
  
      </div>
  
      <hr>
  
      <!-- Botones -->
      <div class="row justify-content-center botones">
  
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-plus"> </i>
          Consultar
        </button> 
      </div>
    </div>
  </form>

<div id="divTablaResultados">
  <table class="table table-hover table-sm table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">DNI</th>
        <th class="text-center">Apellido</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Compañia</th>
        <th class="text-center">Ramo</th>
        <th class="text-center">Inicio Póliza</th>
        <th class="text-center">Fin Póliza</th>
        <th class="text-center text-nowrap">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asegurado of listAsegurados">
        <td>{{ asegurado.dni }}</td>
        <td class="text-right">{{ asegurado.apellido }}</td>
        <td class="text-right">{{ asegurado.nombre }}</td>
        <td class="text-right">{{ asegurado.compania }}</td>
        <td class="text-right">{{ asegurado.ramo }}</td>
        <td class="text-right">{{ asegurado.inicio_poliza }}</td>
        <td class="text-right">{{ asegurado.fin_poliza }}</td>
        <td class="text-center text-nowrap">
          <button class="btn btn-sm btn-outline-primary" title="Consultar">
                    <i class="fas fa-eye"></i>
                </button>
          <button class="btn btn-sm btn-outline-primary" title="Modificar">
                    <i class="fas fa-pencil-alt"></i>
                </button>
          <button class="btn btn-sm"
                    >
                    <i class="fas fa-eye"></i>
                </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>