<div class='tituloPagina'>
  Cargar asegurados
</div>

<form [formGroup]="form" (ngSubmit)="crearAsegurado()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-2">
        <label class="col-form-label"  [class.green-icon]="this.form.get('apellido').valid" [class.red-icon]="this.form.get('apellido').invalid && this.form.get('apellido').touched">Apellido:</label>
      </div>
      <div class="col-sm-8 col-md-3">
        <input type="text" formControlName="apellido" name="Nombre" class="form-control" placeholder="Apellido"/>
        
      </div>

      <div class="col-sm-4 col-md-2">
        <label class="col-form-label"  [class.green-icon]="this.form.get('nombre').valid" [class.red-icon]="this.form.get('nombre').invalid && this.form.get('nombre').touched">Nombre:</label>
      </div>
      <div class="col-sm-8 col-md-2">
        <input type="text" formControlName="nombre" name="Nombre" class="form-control" placeholder="Nombre" />
      </div>

      <div class="col-sm-4 col-md-1">
        <label class="col-form-label"  [class.green-icon]="this.form.get('dni').valid" [class.red-icon]="this.form.get('dni').invalid && this.form.get('dni').touched">DNI:</label>
      </div>
      <div class="col-sm-8 col-md-2">
        <input type="text" formControlName="dni" name="Nombre" class="form-control" placeholder="DNI (sin puntos)" />
      </div>

      <!--<ngx-bootstrap-datetime-popup [(value)]="myDate" [closeButton]="myCloseOptions"></ngx-bootstrap-datetime-popup>-->



      <p>

      <div class="col-sm-4 col-md-2">
        <label class="col-form-label"  [class.green-icon]="this.form.get('compania').valid" [class.red-icon]="this.form.get('compania').invalid && this.form.get('compania').touched">Compañía:</label>
      </div>
      <div class="col-sm-8 col-md-4">
        <select name="select" formControlName="compania" class="form-control" placeholder="Compañia">
          <option *ngFor="let opt of opcionesComp" [ngValue]="opt.compania">
            ‌{{ opt.compania }}
          </option>
        </select>
      </div>

      <div class="col-sm-4 col-md-2">
        <label class="col-form-label"  [class.green-icon]="this.form.get('ramo').valid" [class.red-icon]="this.form.get('ramo').invalid && this.form.get('ramo').touched">Rama:</label>
      </div>
      <div class="col-sm-8 col-md-4">
        <select class="form-control" name="Ramo" formControlName="ramo"  placeholder="Rama">
          <option *ngFor="let opt of opcionesRama" [ngValue]="opt.rama">
            ‌{{ opt.rama }}
          </option>
        </select>
      </div>

      <p>

      <div class="col-sm-4 col-md-2">
        <label class="col-form-label" [class.green-icon]="this.form.get('inicio_poliza').valid" [class.red-icon]="this.form.get('inicio_poliza').invalid && this.form.get('inicio_poliza').touched">Inicio Póliza:</label>
      </div>
      <div class="col-sm-8 col-md-4">
        <input type="text" formControlName="inicio_poliza" name="Inicio Poliza" class="form-control" placeholder="DD/MM/AAAA" maxlength="10"/>
        <small *ngIf="fechaInicioNoValida" style="color: red"
            class="text-danger d-inline-flex m-2 px-4 bd-highlight justify-content-center">Ingrese fecha formato DD/MM/AAAA
        </small>
        <!--<div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" formControlName="inicio_poliza" name="dp1"
              [(ngModel)]="model1" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>

            </div>
          </div>
        </div>-->

      </div>

      <div class="col-sm-4 col-md-2">
        <label class="col-form-label" [class.green-icon]="this.form.get('fin_poliza').valid" [class.red-icon]="this.form.get('fin_poliza').invalid && this.form.get('fin_poliza').touched">Fin Póliza:</label>
      </div>
      <div class="col-sm-8 col-md-4">
        <input type="text" formControlName="fin_poliza" name="Fin Poliza" class="form-control" placeholder="DD/MM/AAAA" maxlength="10"/>
        <small *ngIf="fechaFinNoValida" style="color: red"
            class="text-danger d-inline-flex m-2 px-4 bd-highlight justify-content-center">Ingrese fecha formato DD/MM/AAAA
        </small>
        <!--<div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" formControlName="fin_poliza" name="dp2"
              [(ngModel)]="model2" ngbDatepicker #p="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="p.toggle()" type="button"></button>
  
              </div>

          </div>
        </div>-->

      </div>


    </div>

    <hr>

    <!-- Botones -->
    <div class="row justify-content-center botones">

      <button [disabled]="form.invalid" type="submit" class="btn btn-primary" (click)="open()">
        <i class="fas fa-plus"> </i>
        Agregar
      </button>
    </div>
  </div>
</form>
